<?php /* @var $block \Swissclinic\CheckoutSuccessData\Block\Success */?>
<div class="checkoutsuccessdata">
    <script>
        <?php
            // $order = $this->getOrderDataById(99);
            $order = $this->getOrder();
            $orderData = $order->getData();

            // var_dump($orderData);

            $orderArray = array(
                "entity_id" => $orderData["entity_id"],
                "coupon_code" => $orderData["coupon_code"],
                "customer_id" => $orderData["customer_id"],
                "discount_amount" => $orderData["discount_amount"],
                "grand_total" => $orderData["grand_total"],
                "shipping_amount" => $orderData["shipping_amount"],
                "shipping_tax_amount" => $orderData["shipping_tax_amount"],
                "subtotal" => $orderData["subtotal"],
                "tax_amount" => $orderData["tax_amount"],
                "total_qty_ordered" => $orderData["total_qty_ordered"],
                "customer_is_guest" => $orderData["customer_is_guest"],
                "subtotal_incl_tax" => $orderData["subtotal_incl_tax"],
                "weight" => $orderData["weight"],
                "increment_id" => $orderData["increment_id"],
                "customer_email" => $orderData["customer_email"],
                "customer_firstname" => $orderData["customer_firstname"],
                "customer_lastname" => $orderData["customer_lastname"],
                "order_currency_code" => $orderData["order_currency_code"],
                "remote_ip" => $orderData["remote_ip"],
                "shipping_method" => $orderData["shipping_method"],
                "shipping_incl_tax" => $orderData["shipping_incl_tax"],
            );

            foreach($order->getAllVisibleItems() as $product) {
                $productData = $product->getData();

                // print_r($productData);

                $productArray = array(
                    "name" => $product->getName(),
                    "sku" => $product->getSku(),
                    "weight" => $product->getWeight(),
                    "qty_ordered" => $product->getQtyOrdered(),
                    "price" => $product->getPrice(),
                    "tax_amount" => $product->getTaxAmount(),
                    "discount_amount" => $product->getDiscountAmount(),
                    "price_incl_tax" => $product->getPriceInclTax(),
                    "original_price" => $product->getOriginalPrice(),
                    "row_weight" => $product->getRowWeight(),
                    "row_total" => $product->getRowTotal(),
                    "row_total_incl_tax" => $product->getRowTotalInclTax()
                );

                $orderArray["products"] = $productArray;
            }

            echo "const orderDataObject = " . json_encode($orderArray, JSON_FORCE_OBJECT);
        ?>
    </script>
</div>
